
.enter_card {
    border-radius: 50px;
    padding: 2%;
    max-width: 40vw;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header_enter_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header_enter_card__title {
    font-size: 1.4em;
}

.body_enter_card {

}

.card_form {
    display: flex;
    flex-direction: column;
}

.card_form__field {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

textarea {
    width: 100%; /* Ширина поля в процентах */
    min-height: 200px; /* Высота поля в пикселах */
    max-height: 20vh;
    resize: none; /* Запрещаем изменять размер */
}
