a {
    text-decoration: none;
}

.content-header {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding: 2%;
    margin-left: 6vw;
}

.content-header-information {
    display: flex;
    flex-direction: row;
}

.title-page {
    font-size: 32px;
    margin-left: 34vw;
    min-width: 200px;
    width: 16vw;
    color: #47402D;
}

.title-shopping {
    font-size: 32px;
    min-width: 200px;
    width: 16vw;
    color: #47402D;
}

.title-page-left {
    font-size: 32px;
    margin-left: 12vw;
    margin-top: 5vh;
    min-width: 200px;
    width: 16vw;
    color: #47402D;
}

.header-controls {
    display: flex;
    flex-direction: row;
    margin-left: 4vw;
}

.controls-search {

}

.controls-filter {
    margin-left: 2vw;
}

.content-header-line {
    width: 78vw;
    border-bottom: 1px solid black;
}

.content-body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0 2% 2% 2%;
    margin-left: 10vw;
}

.content-body-customer {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 0 2% 2% 2%;
    margin-left: 12vw;
}

.user_card {
    display: flex;
    flex-direction: row;
    width: 70vw;
    min-width: 600px;
    min-height: 44px;
    padding: 2vh 2vw 2vh 2vw;
    background: #f3f3f3;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-bottom: 2vh;
}

.block_icon {
    min-width: 40px;
}

.block_icon__image {
    max-width: 2vw;
    max-height: 2vw;
    min-width: 32px;
    min-height: 32px;
}

.block_information {
    display: flex;
    flex-direction: row;
    width: 70vw;
    min-width: 420px;
}

.information_part1 {
    margin-left: 2vw;
    width: 30vw;
    min-width: 200px;
}

.information_part2 {
    width: 30vw;
    min-width: 200px;
    padding-left: 10vw;
}

.information_key {
    font-size: 1em;
}

.information_value {
    font-size: 1.4em;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-controls {
    display: flex;
    flex-direction: row;
    min-width: 82px;
}

.block-controls__item {
    min-width: 40px;
    margin-left: 0.4vw;
}

.controls-item__image {
    max-width: 2vw;
    max-height: 2vw;
    min-width: 32px;
    min-height: 32px;
}

.block-types {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4vw;
}

.block-products {
    display: flex;
    flex-wrap: wrap;
}

.types-item {
    margin-left: 2vw;
    margin-top: 5vh
}

.information_type_name {
    min-width: 150px;
    text-align: center;
    font-size: 20px;
}

