.product_block {
    display: flex;
    flex-direction: row;
    padding: 4%;
    margin-left: 2vw;
}

.block_image {

}

.product__image {
    max-width: 40vw;
}

.block_info {
    max-width: 40vw;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_information {

}

.info_row {
    margin-top: 2vh;
}

.field_key {
    font-size: 14px;
}

.field_value_name {
    font-size: 32px;
}

.field_value_category {
    font-size: 24px;
}

.field_value_description {
    font-size: 16px;
}

.field_value_price {
    font-size: 20px;
}

.block_buy {
    margin-top: 2vh;
}

.product_not_find {

}
