.product_card {
    padding: 1%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12vw;
    height: 44vh;
    min-height: 350px;
    min-width: 230px;
    overflow: hidden;
}

.card_header {
    display: block;
    position: relative;
    top: 0px;
    right: 0;
    opacity: 0;
}

.card_header:hover {
    display: block;
    position: relative;
    top: 0px;
    right: 0;
    opacity: 1;
}

.card_header:hover product_card {
    display: block;
}

.header_controls {
    position: relative;
}

.controls-edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-top: 5%;
    margin-right: 5%;
}

.controls-buy {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.card-body {
    height: 100%;
}

.card_image {
    max-height: 25vh;
    min-height: 200px;
}

.main_information {
    border-top: 1px solid black;
    padding: 3%;
    margin-top: 1vh;
}

.information_name {
    min-width: 150px;
    max-width: 216px;
    max-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.information_category {
    margin-top: 1vh;
}

.information_price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5vh;
    font-size: 1.2em;
}

.price_value {

}

.type_currency {

}

.link_on_product {
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
}

.background_button {
    height: 3vh;
}

.control_button {
    margin-left: 0.4vw;
}
