body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #47402D;
}

.header-welcome {
    padding-top: 3vh;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.header {
    padding-top: 2vh;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: 62px;
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.menu-part-left {
    min-width: 300px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo__text {
    margin-left: 1vw;
    font-size: 24px;
    padding-top: 2vh;
    color: #9C8E49;
}

.logo__img {
    max-width: 5vw;
    min-width: 30px;
}

.menu-part-middle-welcome {
    width: 25vw;
    min-width: 30px;
}

.menu-part-middle {
    width: 30vw;
    min-width: 30px;
}

.menu-part-right {
    display: flex;
    flex-direction: row;
}

.menu-items {
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    min-width: 320px;
}

.menu-item {
    margin-left: 2vw;
}

.menu-item__link {
    color: #9C8E49;
    font-size: 24px;
}

.menu-profile {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    padding-top: 2vh;
}

.profile__button {
    width: 32px;
    height: 32px;
    background: url("images/user_icon.png") no-repeat;
    background-size: 100%;
    border: 0px;
}

.profile__name {
    margin-left: 1vw;
    font-size: 24px;
    color: #47402D;
    font-weight: 300;
}

.header-line {
    width: 70vw;
    border-bottom: 1px solid black;
    margin-left: 12vw;
    margin-top: 0.8vh;
}

.content {
    min-height: 72vh;
}

.footer {
    background: linear-gradient(76.29deg, rgba(247, 238, 238, 0.7) -3.71%, rgba(255, 255, 255, 0.7) 101.37%);
    background-blend-mode: soft-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 161px;
    border-top-right-radius: 161px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100vw;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
    padding-top: 4vh;
}

.menu-column {
    margin-left: 6vw;
}

.column-head {

}

.column-row {
    display: flex;
    flex-direction: row;
}

.column-row__key {
    min-width: 65px;
    padding-left: 1vw;
}

.column-row__value {
    min-width: 250px;
    padding-left: 2vw;
}

.footer-copyright {
    padding-top: 3vh;
    padding-bottom: 3vh;

}

.copyright-information {
    padding-left: 40vw;
}

.shopping-card {
    padding-top: 2vh;
    margin-left: 2vw;
}

.shopping-card__image {
    max-width: 28px;
}


.list_operation {
    display: flex;
    flex-direction: column;
}

.popup {
    display: block;
    position: absolute;
    max-width: 16vw;
    padding: 1%;
    border: 1px solid black;
    min-width: 270px;
    top: 8vh;
    left: 74vw;
    background: white;
}

.popup-menu-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-menu-user__item {

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.offer_block {
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.offer_information {
    margin-left: 6vw;
    margin-top: 18vh;
}

.offer_information__header {
    font-size: 48px;
    color: #9C8E49;
}

.offer_information__description {
    font-size: 16px;
    color: #47402D;
    margin-top: 1vh;
}

.offer_control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

.offer_control__button {

}

.offer_picture {
    margin-left: 5vw;
}

.offer_picture__image {
    max-width: 48vw;
}

#but_offer, #but_buy :hover {
    border: 2px double #ff4444;
}

#but_offer, #but_buy, #submit_order {
    background: #9C8E49;
    height: 45px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
}

.block_categories {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    min-width: 15vw;
    margin-top: 2vw;
    margin-left: -1.8vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.around-count {
    width: 18px;
    height: 18px;
    background: #a51010;
    color: #fffcf8;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    top: -35px;
    left: 20px;
    position: relative;
}

.shopping-card-select-city {

}

.shipping-sum-order {

}

.shopping-field-key {

}

#submit_order {

}

.around-count__text {

}

#input_sum {
    border: 0;
    height: 24px;
    font-size: 24px;
    margin-top: 1vh;
}

#select_store {
    font-size: 16px;
}

.error_page_message {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error_page_message__text {
    margin-top: 15vh;
    font-size: 32px;
}

.edit-form {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.order_card {
    display: flex;
    flex-direction: row;
    margin-left: 12vw;
    margin-top: 4vh;
}

.order_information {
}

.row-order {
    margin-top: 1vh;
}

.order_field_key {
    font-size: 16px;
}

.order_field_value {
    font-size: 32px;
}

.table_row_product {
    margin-top: 1vh;
}

.list_products {
    max-width: 30vw;
    margin-left: 5vw;
}

.list_products__table {
}

.cell_name_key {
    text-align: center;
    font-size: 24px;
}

.cell_count_key {
    text-align: center;
    font-size: 24px;
}

.cell_price_key {
    text-align: center;
    font-size: 24px;
}

.cell_name_value {
    text-align: center;
    font-size: 20px;
}

.cell_count_value {
    text-align: center;
    font-size: 20px;
    margin-left: 2vw;
}

.cell_price_value {
    text-align: center;
    font-size: 20px;
    margin-left: 2vw;
}

.order_card_title {
    font-size: 40px;
    margin-left: 12vw;
    margin-top: 5vh;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6vw;
}

.products_list__item {
    margin-top: 4vh;
    margin-left: 2vw;
}

.preview_photo_image {
    width: 100px;
    height: 100px;
}
